*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

#navbar{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 50px;
    margin: 10px;
}
#navbar .header{
    font-size: 1.5rem;
    width: 100%;
    margin-left: 10px;
}

#navbar ul{
    display: flex;
    gap: 30px;
    width: 100%;
}
#navbar li{
    color: transparent;
}
#navbar li a{
    color: rgb(117, 117, 117);
    border-bottom: 1px solid transparent;
    transition: 0.2s ease;
}
#navbar li a:hover{
    border-bottom: 1px solid rgb(117, 117, 117);
    
}

#navbar .icon{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    gap: 15px
}
#navbar .icon a{
    color: #427cd4;
    font-size: 1.2rem;
}

#menu{
    margin: -10px 10px;
    background-color: rgb(243, 243, 243);
    display: none;
    flex-direction: column;
    padding: 20px;
}
#menu li{
    color: transparent;
    margin: 10px 0;
}
#menu li a{
    color: rgb(117, 117, 117);
    border-bottom: 1px solid transparent;
    transition: 0.2s ease;
}
#menu li a:hover{
    border-bottom: 1px solid rgb(117, 117, 117);
    
}

#ham{
    color: #427cd4;
    font-size: 1.2rem;
    width: 100%;
    display: none;
    justify-content: end;
    margin: 20px;
}
#ham2{
    color: #000000;
    rotate: 90deg;
    margin-right: 20px;
    font-size: 1.2rem;
    display: none;
}

@media (max-width: 600px) {
    #navbar ul{
        display: none;
    }

    #navbar .icon{
        display: none;
    }

    #ham{
        display: flex;

    }
}