*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 20px 0 0 20px;
}

.button{
    border: 2px solid black;
    padding: 20px;
    width: 75vh;
}

.button button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 300px;
    background: rgb(51, 51, 255);

}
.button .one{
    color: white;
    background: rgb(51, 51, 255);
}
.button .two{
    color: rgb(105, 105, 105);
    background: none;
}
.button .three{
    color: rgb(105, 105, 105);
    background: none;
}
.button .four{
    color: rgb(105, 105, 105);
    background: none;
}
.button .five{
    color: rgb(50, 30, 235);
    background: none;
}

#search{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px 0;
}

#search .circle{
    background: rgb(51, 51, 255);
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 1rem;
    margin: 3px;
}

#search .rec{
    background: rgb(51, 51, 255);
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
}

#search .si1{
    background-color: transparent;
    color: #525252;
    border: 1px solid #8a8a8a;
}

#search .s2{
    background-color: transparent;
    color: #525252;
    border: 1px solid #8a8a8a;
}

#search .si2{
    background-color: transparent;
    color: #525252;
    border: 1px dashed #8a8a8a;
}

#search .s3{
    background-color: transparent;
    color: #525252;
    border: 1px dashed #8a8a8a;
}

#search .si3{
    background-color: transparent;
    color: #525252;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
}

.block_btn{
    margin-top: 10px;
    width: 60vh;
    height: auto;
    border: 2px solid black;
    padding: 10px;
    display: block;

}
.block_btn button{
    width: 55vh;
    margin: 10px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 550;
    border-radius: 10px;
    border: none;
}
.block_btn .pbtn{
    background: rgb(89, 189, 255);
    color: white;
}
.block_btn .dbtn{
    background: white;
    color: gray;
    border: 1px solid rgb(177, 177, 177);
}
.block_btn .dabtn{
    background: white;
    color: gray;
    border: 1px dashed rgb(177, 177, 177);
}
.block_btn .dibtn{
    background: hsl(0, 0%, 95%);
    color: rgb(187, 187, 187);
}
.block_btn .tbtn{
    background: white;
    color: gray;
}
.block_btn .lbtn{
    background: white;
    color: rgb(89, 189, 255);
}