*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
}
.parent1{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.child1{
    background: orange;
    width: 190px;
    margin: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.child1 div{
    width: 58px;
    height: 50px;
    background: rgb(29, 87, 105);
    margin: 2px;
}
.parent2{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.child2{
    background: orange;
    width: 190px;
    margin: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
}
.child2 div{
    width: 58px;
    height: 50px;
    background: rgb(29, 87, 105);
    margin: 2px;
}
.parent3{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.child3{
    background: orange;
    width: 60px;
    margin: 5px;
    height: 190px;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 65px;
}
.child3 div{
    width: 53px;
    height: 59px;
    background: rgb(29, 87, 105);
    margin: 3px;
}
.parent4{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.child4{
    background: orange;
    width: 60px;
    margin: 5px;
    height: 190px;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
}
.child4 div{
    width: 53px;
    height: 59px;
    background: rgb(29, 87, 105);
    margin: 3px;
}